table {
  width: 70%;
}
input {
  position: relative;
  border: 2px solid grey;
  padding: 5px 10px;
  width: 93%;
}
form {
  text-align: center;
  display: flex;
  justify-content: center;
}

td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  border: 2px solid grey;
  background-color: transparent;
  padding: 5px 0;
  margin-bottom: 10px;
  cursor: pointer;
}
